.search_box {
    position: relative;
    .search_btn {
        background: url("/images/icon/icon_search.png") no-repeat;
        width: 21px;
        height: 21px;
        outline: none;
        border: none;
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
    }
    .search_input {
        border: 1px solid #F1F2F1;
        padding: 12px 32px;
        border-radius: 22px;
        background: #F7F7F7;
        width: 328px;
        // background: transparent;
        // border: none;
        // width:100%;height:100%;
        font-family: "Pretendard Variable", "Pretendard", sans-serif;
    }
    .placeholder {
        font-size: 16px;
        color: #BFC1BC;
        strong {font-weight: 600;}
    }
}