@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/pretendard/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Thin.woff') format('font-woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-ExtraLight.woff') format('font-woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Light.woff') format('font-woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    /* src: url('/fonts/pretendard/Pretendard-Regular.woff') format('font-woff'); */
    src: url('/fonts/pretendard/Pretendard-Regular.woff') format('font-woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Medium.woff') format('font-woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-SemiBold.woff') format('font-woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Bold.woff') format('font-woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-ExtraBold.woff') format('font-woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Black.woff') format('font-woff');
    font-weight: 900;
    font-display: swap;
} 

* {box-sizing: border-box;margin: 0;padding: 0;font-size: 16px;letter-spacing: -0.2px;}
body {font-family: "Pretendard Variable", "Noto Sans KR","Nanum Gothic", sans-serif !important; color: #000;font-size: 14px !important;}


a {text-decoration:none;cursor: pointer;/*color:#777;*/}
a:link,a:visited{color: #000;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none} 


.container {
    width: 1400px;
    margin: 0 auto;
}

.btn {display: block;transition: .3s ease;}

.btn-m {padding: 12px 24px;}

.btn-round {border-radius: 20px;}

.btn-transparent {background: transparent;border-radius: 20px;}
.btn-transparent:hover {background: #F7F7F7;}
.btn-primary {background: #000;border-radius: 20px;color: #fff;}
a.btn-primary {color:#fff;}